
header div {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main {
    background-color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.load_more {
    background-color: #f7d02c;
    color: #333;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    display: block;
    margin-bottom: 100px;
}


.pokemon_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px 0;
}

.listview_card {
    background-color: #f7d02c;
    padding: 16px;
    margin: 12px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    width: 300px;
    display: inline-block;
    transition: transform 0.2s;
}

.listview_card:hover {
    transform: scale(1.05);
}

.listview_img {
    width: auto;
    height: 200px;
    margin: 8px 0;
}

.pokemon_type {
    font-weight: bold;
    color: #333;
}

