.normal {
    background-color: rgb(168, 167, 126);
}

.fighting {
    background-color: rgb(194, 46, 40);
}

.flying {
    background-color: rgb(169, 143, 243);
}

.poison {
    background-color: rgb(163, 62, 161);
}

.ground {
    background-color: rgb(226, 191, 101);
}

.rock {
    background-color: rgb(182, 161, 54);
}

.bug {
    background-color: rgb(166, 185, 26);
}

.ghost {
    background-color: rgb(115, 87, 151);
}

.steel {
    background-color: rgb(183, 183, 206);
}

.fire {
    background-color: rgb(238, 129, 48);
}

.water {
    background-color: rgb(99, 144, 240);
}

.grass {
    background-color: rgb(122, 199, 76);
}

.electric {
    background-color: rgb(247, 208, 44);
}

.psychic {
    background-color: rgb(249, 85, 135);
}

.ice {
    background-color: rgb(150, 217, 214);
}

.dragon {
    background-color: rgb(111, 53, 252);
}

.dark {
    background-color: rgb(112, 87, 70);
}

.fairy {
    background-color: rgb(214, 133, 173);
}

.stellar {
    background-color: rgb(248, 208, 48);
}

.unknown {
    background-color: rgb(104, 160, 144);
}


.normal.transparent {
    background-color: rgba(168, 167, 126, 0.925);
}

.fighting.transparent {
    background-color: rgba(194, 45, 40, 0.925);
}

.flying.transparent {
    background-color: rgba(170, 143, 243, 0.925);
}

.poison.transparent {
    background-color: rgba(163, 62, 161, 0.925);
}

.ground.transparent {
    background-color: rgba(226, 191, 101, 0.925);
}

.rock.transparent {
    background-color: rgba(182, 161, 54, 0.925);
}

.bug.transparent {
    background-color: rgba(166, 185, 26, 0.925);
}

.ghost.transparent {
    background-color: rgba(115, 87, 151, 0.925);
}

.steel.transparent {
    background-color: rgba(183, 183, 206, 0.925);
}

.fire.transparent {
    background-color: rgba(238, 130, 48, 0.925);
}

.water.transparent {
    background-color: rgba(99, 144, 240, 0.925);
}

.grass.transparent {
    background-color: rgba(121, 199, 76, 0.925);
}

.electric.transparent {
    background-color: rgba(247, 206, 44, 0.925);
}

.psychic.transparent {
    background-color: rgba(249, 85, 134, 0.925);
}

.ice.transparent {
    background-color: rgba(150, 217, 214, 0.925);
}

.dragon.transparent {
    background-color: rgba(109, 53, 252, 0.925);
}

.dark.transparent {
    background-color: rgba(112, 87, 70, 0.925);
}

.fairy.transparent {
    background-color: rgba(214, 133, 173, 0.925);
}

.stellar.transparent {
    background-color: rgba(248, 208, 48, 0.925);
}

.unknown.transparent {
    background-color: rgba(104, 160, 144, 0.925);
}


.normal_label {
    background-color: rgb(190, 190, 143);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.fighting_label {
    background-color: rgba(253, 73, 67, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.flying_label {
    background-color: rgba(185, 161, 252, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.poison_label {
    background-color: rgba(197, 79, 195, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.ground_label {
    background-color: rgba(252, 216, 125, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.rock_label {
    background-color: rgba(209, 185, 65, 0.75);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.bug_label {
    background-color: rgb(196, 218, 32);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.ghost_label {
    background-color: rgb(152, 118, 197);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.steel_label {
    background-color: rgba(210, 210, 231, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.fire_label {
    background-color: rgb(255, 163, 92);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.water_label {
    background-color: rgb(135, 173, 255);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.grass_label {
    background-color: rgb(145, 230, 96);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.electric_label {
    background-color: rgb(248, 226, 139);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.psychic_label {
    background-color: rgba(255, 121, 161, 0.781);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.ice_label {
    background-color: rgb(168, 245, 241);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.dragon_label {
    background-color: rgba(128, 79, 252, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.dark_label {
    background-color: rgba(133, 103, 84, 0.9);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.fairy_label {
    background-color: rgb(243, 160, 202);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.stellar_label {
    background-color: rgba(204, 171, 41, 0.8);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.unknown_label {
    background-color: rgb(143, 212, 193);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}