.not_found_container {
  margin: 60px auto;
  text-align: center;
  background-color: #f7d02c;
  color: #333;
  padding: 32px 24px;
  border-radius: 12px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease-in;
}

.not_found_text {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.not_found_subtext {
  color: #333;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.not_found_container img {
  width: 100px;
  height: auto;
}

.search_btn {
  background-color: #e0773a;
  height: 40px;
  width: 56px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
}

.search_btn:hover {
  background-color: #e0773abb;
}

.search_input {
  min-width: 250px;
  height: 40px;
  border-radius: 5px;
  border: solid 2px #3333338f;
  font-size: 16px;
  color: black
}

.search_container {
  display: flex;
  gap: 16px;
}