* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Public Sans';
    color: white
}

header {
    background-color: #f8f9fa;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1440px;
}

footer {
    padding: 50px;
    background-color: rgba(31, 31, 31, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.space_between {
    display: flex;
    justify-content: space-between;
}

.gap_column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    flex-direction: row;
}

.d_none {
    display: none !important;
}

.no_scroll {
  overflow: hidden;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
  object-fit: cover;
}